<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICatalogManagement">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUserManagement">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8092/CatalogManagementService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICatalogManagement"
                contract="CatalogManagementService.ICatalogManagement" name="NetTcpBinding_ICatalogManagement">
                <identity>
                    <userPrincipalName value="MSI\axel_" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8091/UserManagementService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserManagement"
                contract="UserManagementService.IUserManagement" name="NetTcpBinding_IUserManagement">
                <identity>
                    <userPrincipalName value="MSI\axel_" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/ChatService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatService" contract="ChatService.IChatService"
                name="NetTcpBinding_IChatService">
                <identity>
                    <userPrincipalName value="MSI\axel_" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>